body {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

ul {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
}

.portfolio__line {
  border: 1px solid #ECECEC;
  position: absolute;
  width: 100%;
  top: 71px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}

.header__logo__span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .header__logo__span {
    margin-right: 93px;
  }
}

@media screen and (min-width: 0px) {
  .header__list__pages {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 0px) {
  .header__list-info {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list-info {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 0px) {
  .header__nav__item {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav__item {
    display: block;
    margin-right: 54px;
    position: relative;
    padding-bottom: 33px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav__item:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 0px) {
  .header__nav__link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
    transition: color 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
  }
}

.header__active__page::after {
  content: "";
}
@media screen and (min-width: 0px) {
  .header__active__page::after {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__active__page::after {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav__link:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__nav__link:hover {
    color: #2196F3;
  }
}

@media screen and (min-width: 480px) {
  .header__contacts__item {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts__item {
    display: block;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts__item {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts__item:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 480px) {
  .header__contacts__link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    display: block;
    -webkit-transition: color 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
    transition: color 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__contacts__link:hover {
  color: #2196F3;
  fill: #2196F3;
}

.header__email__svg {
  width: 16px;
  height: 12px;
}
@media screen and (min-width: 768px) {
  .header__email__svg {
    margin-right: 10px;
    fill: currentColor;
  }
}

.header__phone__svg {
  width: 10px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .header__phone__svg {
    fill: currentColor;
    margin-right: 10px;
  }
}

.header-settings__svg {
  width: 18px;
  height: 18px;
  fill: black;
}
@media screen and (min-width: 768px) {
  .header-settings__svg {
    display: none;
  }
}

.header-nav__settings {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header-nav__settings {
    display: none;
  }
}

.header-nav__settings.is-open .header_cross {
  display: block;
}

.header-nav__settings.is-open .header-settings__svg {
  display: none;
}

.header_cross {
  display: none;
  width: 35px;
  height: 35px;
  fill: #000000;
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images-svgs/images-studio/hero/hero-mobile@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images-svgs/images-studio/hero/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(/images-svgs/images-studio/hero/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(/images-svgs/images-studio/hero/hero-tablet@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(/images-svgs/images-studio/hero/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: url(/images-svgs/images-studio/hero/hero-desktop@1x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(/images-svgs/images-studio/hero/hero-desktop@2x.jpg);
  }
}

.hero-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero-section__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  width: 200px;
  height: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: #2196F3;
  border: 0;
  border-radius: 4px;
}

.skills-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.skills-section__main__title {
  display: none;
}

.skills-section__item {
  color: white;
  margin-top: 37px;
}
@media screen and (min-width: 480px) {
  .skills-section__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .skills-section__item {
    width: 354px;
    margin-right: 30px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .skills-section__item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .skills-section__item:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .skills-section__item:nth-child(even) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 0px) {
  .skills-section__item:first-child {
    margin-top: 0px;
  }
}

.skills-section__item:last-child {
  margin-right: 0px;
}

.skills-section__item:nth-child(3) {
  margin-top: 37px;
}
@media screen and (min-width: 1200px) {
  .skills-section__item:nth-child(3) {
    margin-top: 0;
  }
}

.skills-section__item:nth-child(4) {
  margin-top: 37px;
}
@media screen and (min-width: 1200px) {
  .skills-section__item:nth-child(4) {
    margin-top: 0;
  }
}

.skills-section__item:before {
  background: #F5F4FA;
  border-radius: 4px;
  display: block;
  padding-bottom: 25px;
  text-align: center;
  padding-top: 25px;
}

.skills-section__item:nth-child(1)::before {
  content: url(../images-svgs/antenna\ 1\ \(2\).png);
}

.skills-section__item:nth-child(2)::before {
  content: url(../images-svgs/clock\ 1\ \(1\).png);
}

.skills-section__item:nth-child(3)::before {
  content: url(../images-svgs/diagram\ 1\ \(1\).png);
}

.skills-section__item:nth-child(4)::before {
  content: url(../images-svgs/astronaut\ 1\ \(1\).png);
}

.skills-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .skills-section__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .skills-section__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.skills-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-section__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.skills-section__description:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 0px) {
  .images-section {
    padding-bottom: 94px;
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .images-section {
    display: block;
  }
}

.images-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.images-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images-section__item {
  margin-right: 30px;
  position: relative;
}

.images-section__item:hover .images-section__box {
  opacity: 1;
}

.images-section__item:last-child {
  margin-right: 0;
}

.images-section__picture {
  width: 370px;
  height: 294px;
}

.images-section__box {
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 225px;
  padding-top: 30px;
  padding-bottom: 25px;
  opacity: 0;
  -webkit-transition: opacity 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 150ms;
  transition: opacity 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 150ms;
}

.images-section__box__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  vertical-align: middle;
  color: #FFFFFF;
}

.team-section__main_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .team-section__main_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 0px) {
  .team-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-section__image {
  width: 100%;
}

.team-section__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.team-section {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-section__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
@media screen and (min-width: 0px) {
  .team-section__card {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .team-section__card {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-section__card {
    width: 354px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__card {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .team-section__card:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__card:nth-child(even) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section__card:last-child {
    margin-right: 0;
  }
}

.team-section__professions {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 28px;
}

.team-section__svg {
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* fill: currentColor;
  fill: #757575; */
}

.team-section__links {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #757575;
}

.team-section__links:hover {
  fill: #F5F4FA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #2196F3;
  padding: 12px;
  -webkit-transition: background-color 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms, fill 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
  transition: background-color 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms, fill 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
}

.team-section__svg_item {
  margin-right: 10px;
}

.team-section__svg_item:nth-child(4) {
  margin-right: 0;
}

.team-section__svg_item:nth-child(8) {
  margin-right: 0;
}

.team-section__svg_item:nth-child(12) {
  margin-right: 0;
}

.team-section__svg_item:nth-child(16) {
  margin-right: 0;
}

.team-section__svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Steady Clients  */
.clients-section {
  padding: 60px 0px 65px 0px;
}

.clients-section__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 0px) {
  .clients-section__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .clients-section__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 0px) {
  .clients-section__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-section__item:nth-child(3) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-section__item:nth-child(3) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-section__item:nth-child(4) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-section__item:nth-child(5) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 0px) {
  .clients-section__item:nth-child(even) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .clients-section__item:nth-child(even) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-section__item:last-child {
    margin-bottom: 0px;
    margin-right: 0;
  }
}

.clients-section__link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  /* padding: 20px 63px 20px 63px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 0px) {
  .clients-section__link {
    width: 150px;
    height: 72px;
  }
}
@media screen and (min-width: 480px) {
  .clients-section__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-section__link {
    width: 170px;
    height: 90px;
  }
}

.clients-section__link:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.clients-section__svg {
  width: 106px;
  height: 60px;
  /* fill: #757575; */
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .form {
  -webkit-transform: scale(-0.001);
          transform: scale(-0.001);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 5;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 480px) {
  .form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
  }
}

.form__close_svg {
  width: 18px;
  height: 18px;
  padding: 6px;
  fill: #000000;
  border: solid rgba(0, 0, 0, 0.1019607843) 1px;
  border-radius: 20px;
}

.form__close_btn {
  display: block;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 0;
}

.form__close_svg:hover {
  border: solid #2196F3 1px;
  fill: #2196F3;
}

.form__main_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 0px) {
  .form__main_title {
    margin-bottom: 12px;
  }
}

.form__input_item {
  margin-bottom: 10px;
  position: relative;
}

.form__input_item:last-child {
  margin-bottom: 0px;
}

.form__name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 12px;
  margin-bottom: 4px;
}

.form__name:hover .form__svg {
  fill: #2196F3;
}

.form__comm_input {
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  width: 100%;
}

.form__comm_input:hover {
  border: solid #2196F3 1px;
}

.form__input {
  display: block;
  padding-left: 40px;
  width: 100%;
  height: 40px;
}

.form__input:hover {
  border: solid #2196F3 2px;
}

.form__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 17px;
  padding-top: 12px;
  fill: #000000;
}

.form__svg:hover {
  border: 0;
  fill: #2196F3;
}

.square-btn {
  width: 16px;
  height: 15px;
  margin-left: 52px;
  margin-top: 25px;
}

.form__condition_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__condition_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 25px;
  margin-left: 8.38px;
}
@media screen and (min-width: 0px) {
  .form__condition_title {
    font-size: 12px;
  }
}

.form__condition_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
  margin-top: 25px;
}

.form__blue_btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 57px 10px 58px;
  border: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.mobile-form {
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 48px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.mobile-form.is-open {
  display: block;
}

.mobile-backdrop {
  background-color: #FFFFFF;
}

.mobile__close_btn {
  display: none;
}

.mobile__close_svg {
  width: 40px;
  height: 40px;
  padding: 6px;
  fill: #000000;
}

.mobile__close_svg:hover {
  fill: #2196F3;
}

.mobile-pages__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 32px;
}

.mobile-pages__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  color: #000000;
  line-height: 47px;
}

.mobile-pages__item:hover {
  color: #2196F3;
}

.mobile-pages__item:last-child {
  margin-bottom: 0;
}

.mobile-contcts__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 32px;
  margin-top: 302px;
}

.mobile-contcts__item:last-child {
  margin-bottom: 0;
  margin-top: 0;
}

.mobile-contcts__item:hover {
  color: #2196F3;
  font-size: 34px;
}

.mobile-socials__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-socials__item {
  margin-right: 20px;
  margin-top: 64px;
}

.mobile-socials__item:last-child {
  margin-right: 0;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}

/* FOOTER   */
.footer__address_info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
  font-style: normal;
}
@media screen and (min-width: 0px) {
  .footer__address_info {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address_info {
    text-align: start;
  }
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 0px) {
  .footer-logo {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: start;
  }
}

.footer-span-logo {
  color: white;
}

.footer-socials__svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-socials__svg_item {
  margin-top: 20px;
  margin-right: 10px;
}

.footer-socials__svg_item:last-child {
  margin-right: 0;
}

.footer-socials__links {
  padding: 12px;
  fill: #ffffff;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials__links:hover {
  fill: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #2196f3;
  padding: 12px;
}

.footer-socials__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  /* margin-left: 156px; */
}
@media screen and (min-width: 0px) {
  .footer-socials__title {
    text-align: center;
  }
}

@media screen and (min-width: 0px) {
  .footer-socials {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-socials {
    margin-left: 178px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__email {
  margin-bottom: 9px;
}

.footer__email,
.footer__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  text-decoration: none;
}
@media screen and (min-width: 0px) {
  .footer__email,
.footer__phone {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__email,
.footer__phone {
    text-align: start;
  }
}

/* footer section 3 */
@media screen and (min-width: 0px) {
  .feedback-section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .feedback-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-section {
    padding: 0;
  }
}

.footer-feedback__main_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 0px) {
  .footer-feedback__main_title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-feedback__main_title {
    text-align: start;
  }
}

.feedback-list__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 10px;
  background: #2f303a;
  color: #f5f4fa;
}
@media screen and (min-width: 0px) {
  .feedback-list__input {
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .feedback-list__input {
    width: 440px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-list__input {
    text-align: start;
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-feedback-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 480px) {
  .footer-feedback-list {
    text-align: center;
  }
}

.footer-input:hover {
  border: 1px solid #2196f3;
}

.feedback-list__btn {
  padding: 10px 29px 10px 29px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 0px) {
  .feedback-list__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-list__btn {
    margin-left: 12px;
  }
}

.telegram {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  display: block;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */