.images-section {
    @media screen and (min-width:0px){
        padding-bottom: 94px;
        width: 480px;
        display: none;
    }

}
.images-section__title {
   
font-weight: 700;
font-size: 24px;
line-height: 1.6px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
display:flex;

}
.images-section__list {
    display: flex;
    width: 480px;
    flex-wrap: wrap;
}
.images-section__item {
   
    position: relative;
}
.images-section__item:hover .images-section__box {
    opacity: 1;
}

.images-section__picture{
    width: 370px;
    height: 294px; 
    margin-right: auto;
    margin-left: auto;
}
.images-section__box {
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    top: 225px;
    padding-top: 30px;
    padding-bottom: 25px;
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 150ms;
}
.images-section__box__title {
    font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
vertical-align: middle;
color: #FFFFFF;
}