.m-backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
 overflow-y: scroll;
  
    // visibility: hidden;
    pointer-events: none;
  
    transition: opacity 250ms linear, visibility 250ms linear;
    display: none;
}

.modal-mobile {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
    background-color: white;
    overflow-y: scroll;
}

.m-backdrop.is-hidden {
    display: none;
    
  }

  .modal-mobile-btn {
    border: 0;
    background-color: white;
  }

