
   .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}

ul  {
    padding: 0;
    list-style: none;

}

 h1, h2 {
    margin: 0;
    padding: 0;
}

/* ХЕДЕР */



 

 
 .nav-item  {
    /* margin-top: 32px;
    margin-bottom: 32px; */
 }
.web {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
text-decoration: none;
/* margin-top: 25px; */
    
    /* margin-right: 93px; */
    /* margin-bottom: 25px; */


}
.studio {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */

letter-spacing: 0.03em;

color: #000000;
margin-right: 93px;

}


.header-list-1 {
display: flex;

}
.header-list-2{
display: flex;
justify-content: end;
margin-left: auto;

}

nav {
display: flex;
height: 80px;

align-items: center;
}

.nav-li {
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: white;
display: inline;
margin-right: 54px;
}



.nav-item {
font-family: 'Roboto';

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
/* margin-right: 55px; */

color: #212121;
text-decoration: none;
align-items: center;
}

.nav-item:hover {
color: cadetblue;
}

.em, .phone {
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
text-decoration: none;
align-items: center;
display: block;
/* margin-top: 30px; */



}

.em {
/* margin-right: 50px; */
/* margin-left: 335px; */



}



.phone {

}



.em:hover {
color: cadetblue;
}

.phone:hover{
color: cadetblue;
}


/* МЕЙН */

   /* buttons list  */

   .buttons-list {
    display: flex;
    justify-content: center;
   }
   .btn-item {
    margin-right: 8px;
    list-style: none;
    margin-top: 94px;
   }
   .btn-item-1 {
    
    margin-right: 8px;
    list-style: none;
    margin-top: 94px;
   }
   .btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: black;
    border: 0;


   }

  .btn:hover {
    color: white;
    background-color: #2196F3;
  }
    
  /* Cards section  */

  .cards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

 
  .professions {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.team-title {
    font-family: 'Roboto';

font-weight: 500;
font-size: 16px;
line-height: 1.2;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.card {
    width: 370px;
height: 404px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
margin-right: 30px;
margin-top: 34px;

}



.card-first {
    width: 370px;
height: 404px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
margin-right: 30px;
margin-top: 34px;

}



    
   
    




/* ФУтер */

.address-info {
  font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.5;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
margin-bottom: 9px;


}

.footer {
  background: #2F303A;
}
.web-2 {
  font-family: 'Raleway';

font-weight: 700;
font-size: 26px;
line-height: 1.2 ;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
text-decoration: none;

padding-top: 60px;
margin-bottom: 20px;

}

.studio-2 {
  color: white;
}

.footer-email {
  margin-bottom: 9px;
}

.footer-email, .footer-phone {
  font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

display: block;
text-decoration: none;


}


.footer-phone {
  padding-bottom:60px ;
}